.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
    padding: 0 var(--container-padding);
    position:fixed;
    right:0;
    left:5.4rem;
    z-index:999
}